@import url("https://fonts.googleapis.com/css?family=Raleway");

/* Media Query for Mobile Devices */
@media (max-width: 50em) {
    .searchmobile {display: block;}
    .searchcomputer {display: none;}
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    .searchmobile {display: none;}
    .searchcomputer {display: block;}
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px){
    .searchmobile {display: none;}
    .searchcomputer {display: block;}
}

* {
    max-width: 1400px;
    box-sizing: border-box;
    font-family: "Raleway";
    margin: 0;
    padding: 0;
    color: #000000;
}

body {
    font-family: "Raleway", serif;
    background: white;
    margin: 50px;
}

.blue {
    color: #0065FC;
}

.grey {
    color: #D9D9D9;
}

.icon {
    position: relative;
    width: 100px;
    height: auto;
}

.menu div {
    position: relative;
    float: right;
    top: -85px;
    right: 70px;
}

.box1 {
    width: 161px;
    height: 50px;
}

.box2 {
    width: 161px;
    height: 50px;
    margin-left: 30px;
}

.box1:hover , .box2:hover{
    border-top: 2px #0065FC solid;
    cursor: pointer;
}

.box1:hover > a , .box2:hover > a{
    color: #0065FC;
}

.page1, .page2 {
    position: absolute;
    text-decoration: none;
    color: #000000;
    bottom: 0px;
    left: 50%;
    transform:translateX(-50%);
}

.title1 {
    display: block;
    margin-top: 70px;
    size: 21px;
    margin-bottom: 8px;
}

.titlediv p {
    margin-bottom:40px;
}

.container {
    display: flex;
    align-items: center;
    align-content: stretch;
    margin-bottom: 32px;
}

.div-search {
    width: 50px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.inputsearch {
    width: 200px;
    height: 50px;
    border: 1px #F2F2F2 solid;
    padding-left: 17px;
    font-size: 17px;
    font-weight: bold;
}

input[type="search"]::-webkit-search-cancel-button{ display: none; }

.inputsearch::placeholder {
    color: #000000;
}

.search {
    border-radius: 0px 15px 15px 0px;
    border: 1px #0065FC solid;
    width: auto;
    height: 50px;
    padding-inline: 16px;
    background-color: #0065FC;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
}

.search i::before {
    display: relative;
    color: white;
    width: 22px;
}

.search:hover {
    cursor: pointer;
    background-color: #227aff;
}

.filters h2 {
    font-size: 18px;
    display: inline-block;
    margin-bottom: 35px;
}

.filters div {
    display: inline-block;
}

.filter {
    display: flex;
    align-items: center;
    height: 46px;
    border: 2px solid #d9d9d9;
    margin-left: 20px;
    margin-bottom: 5px;
    padding-right: 20px;
    border-radius: 25px;
    background-color: white;
    font-size: 17px;
    font-weight: bold;
}

.filter i {
    padding-inline: 16px;
    width: 22px;
    height: auto;
    margin-right: 10px;
    color: #0065FC;
}

.filter:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

.result i {
    display: inline-block;
    font-size: 15px;
    color: #0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    padding: 6px 11px;
    margin-right: 11px;
}

.result p {
    display: inline-block;
    margin-bottom: 32px;
}

.accommodation {
    display: flex;
    flex-direction: column;
    width: 880px;
    height: 626px;
    padding: 42px 40px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.accommodation img {
    width: 246px;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    border: 5px solid white;
}

.accommodation-title {
    font-size: 22px;
    margin-bottom: 23px;
}

.accommodation-row-1 {
    display: flex;
    flex-direction: row;
}

.accommodationbox {
    width: 246px;
    height: 199px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-right: 31px;
}

.accommodation-content {
    margin-left: 16px;
}

.accommodation-content h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.accommodation-content p {
    font-size: 14px;
    margin-bottom: 5px;
}

.accommodation-content i {
    height: 12px;
    width: 12px;
    margin-right: 2px;
}